<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.newgame.keyboardsdk">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>
        <service
            android:name=".KeyboardService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hexad.bluezime.disconnect"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.hexad.bluezime.connect"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.hexad.bluezime.featurechange"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.hexad.bluezime.getconfig"/>
            </intent-filter>
        </service>
    </application>

</manifest>